body, html {
    height: 100vw;
}

body {
        background-color: #9DD1C4;
        margin: 0;
        font-family:"Inter";
        display:grid;
        grid-template-columns: 15% auto auto 15%;
        grid-template-rows: 20% 5% 20% auto 20%;
        grid-template-areas:
            "home section1 section2 menu"
            "section3 welcome section4 section5"
            "section6 intro intro section7"
            "section9 project learn section10"
            "section11 section11 section13 section14";
}

#home {
    grid-area: home;
    margin: 2rem
}

#menu {
    grid-area: menu;
    margin: 2rem;
}

button {
    background-color: #6da394;
    border-color: black;
    border-radius: 20%;
    border-width: 0.3vw;
}

.logo {
    height: 3vw;
    width: 3vw;
}

.menu {
    float: right;
}

h {
    border-top: solid black;
    border-left: solid black;
}

p {
    margin-bottom: 3vw;
    border-bottom: solid black;
    border-right: solid black;
}

#welcome {
    grid-area: welcome;
    font-size: 4vw;
}

#introduction {
    grid-area: intro;
    font-size: 3vw;
}

#project {
    grid-area: project;
    color:#00532e;
    font-size: 2.5vw;
    transition: all 0.1s;
    text-decoration: none;
}
#project:hover {
    transform:scale(1.05);
}

#learn {
    grid-area: learn;
    color:#00532e;
    font-size: 2.5vw;
    transition: all 0.1s;
    text-decoration: none;
}
#learn:hover {
    transform: scale(1.05);
}

#gear1 {
    grid-area: section5;
    float: right;
    height: 30vw;
    opacity: 0.6;
}

#gear2 {
    grid-area: section9;
    float: left;
    height: 30vw;
    opacity: 0.7;
}