body {
    background-color: #9DD1C4;
    margin: 0;
    font-family:"Inter";
}

.introduction {
    font-size: 2vw;
}

.section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 60%;
    margin: 5rem auto 0 auto;
}
.section img{
    margin-top: 3vw;
    height: 40vw;
    width: 40vw;
    border:2px solid #3D655C;
    border-radius: 10px;
    padding: 0px;
}
.underline {
    font-size: 4vw;
    color: black;
    position: relative;
}

.underline::after{
    content:'';
    height: 2px;
    width: 24vw;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
}

button {
    background-color: #6da394;
    border-color: black;
    border-radius: 20%;
    margin: 2rem;
    border-width: 0.3vw;
}

.logo {
    height: 3vw;
    width: 3vw;
}
.menu {
    float: right;
}


