body {
    background-color: #9DD1C4;
    margin: 0;
    font-family:"Inter";
}

button {
    background-color: #6da394;
    border-color: black;
    border-radius: 20%;
    margin: 2rem;
    border-width: 0.3vw;
}

.tab {
    background-color: #9DD1C4;
    border: none;
    font-size: 3vw;
    margin-left: 10rem;
    transition: all 0.2s;
}

.tab:hover {
    transform: scale(1.2);
}

.logo {
    height: 3vw;
    width: 3vw;
}